.client-list {
  @extend %list;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-card {
  display: flex;  
  align-items: center;
}

.client-card__link {
  fill: $color-gray-light;
  width: 210px;
  height: 92px;
  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    border: 1px solid $color-brand;
    fill: $color-brand;
  }
}

.client-card__logo {
  width: 106px;
  height: 60px;
}
