.hero-background {
  background-color: $color-hero;
}

.hero {
  @media screen and (max-width: 1199px) {
    height: 400px;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
    @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
  }
  background-image: $gradient-hero, url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  margin-left: auto;
  margin-right: auto;  
  text-align: center;
  color: $color-white;
}

.hero-button {
  @extend %button;
  padding: 10px 32px;
}
